#cssmenu {
    margin-bottom: 0;
}

#cssmenu .first-level {
    text-align: center;
}

.navbar-toggle {
    background: transparent;
    border: none;
    margin: 12px 0px;
    margin-left: 40px;
}

#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #head-mobile {
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 0px;
    transition: all .25s ease;
}

#cssmenu ul,
#cssmenu ul li a,
#cssmenu #head-mobile {
    position: relative;
}

#cssmenu:after, #cssmenu > ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}

#cssmenu #head-mobile {
    display: none
}

#cssmenu > ul > li {
    display: inline-block;
}

#cssmenu > ul > li > a {
    padding: 12px 15px;
    font-size: 16px;
    text-decoration: none;
    color: #ddd;
    font-weight: 400;
}

#cssmenu > ul > li:hover > a, #cssmenu ul li.active a {
    color: #fff
}

#cssmenu > ul > li:hover > a
    /*#cssmenu ul li.active:hover a, */
    /*#cssmenu ul li.active a,*/
    /*#cssmenu ul li.has-sub.active:hover  a*/

{
    color: #ebe7c3 !important;
}

#cssmenu .first-level li ul li ul li {
    background: #2c3963;
}
#cssmenu .first-level li ul li ul li a:hover {
    color: #bec7e6;
}


#cssmenu > ul > li.active > a {
    background: #2c3963 !important;
}

#cssmenu > ul > li.has-sub > a {
    padding-right: 30px
}

#cssmenu > ul > li.has-sub > a:before {
    position: absolute;
    top: 16px;
    right: 14px;
    display: block;
    background-image: url("../images/icons/menu.png");
    background-repeat: no-repeat;
    width: 7px;
    height: 12px;
    content: '';
    -webkit-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all .25s ease;

}

#cssmenu > ul > li.has-sub:hover > a:before {
    transform: rotateZ(90deg);
}

#cssmenu ul ul {
    position: absolute;
    left: -9999px;
    z-index: 10;
}

#cssmenu ul ul li {
    height: 0;
    -webkit-transition: all .25s ease;
    -ms-transition: all .25s ease;
    background: #37477d;
    transition: all .25s ease
}

#cssmenu li:hover > ul {
    left: auto;

}

#cssmenu li:hover > ul > li {
    height: auto;
    transition: all .25s ease

}

#cssmenu li > ul > li:first-child {
    /*border-radius: 10px 10px 0px 0px;*/
}

#cssmenu li > ul > li:last-child {
    /*border-radius: 0px 0px 10px 10px;*/
}

#cssmenu ul ul {
    padding-top: 5px;
}



#cssmenu ul ul ul {
    padding-top: 0px;
    padding-left: 10px;
    margin-left: 100%;
    top: 0;
}

#cssmenu ul ul li a {
    /*border-bottom: 1px solid rgba(150, 150, 150, 0.15);*/
    padding: 13px 69px 13px 30px;
    width: auto;
    font-size: 16px;
    text-decoration: none;
    color: #ddd;
    font-weight: 400;
    white-space: nowrap;
    text-align: left;
}

#cssmenu ul ul li:last-child > a, #cssmenu ul ul li.last-item > a {
    border-bottom: 0
}

#cssmenu ul ul li:hover > a, #cssmenu ul ul li a:hover {
    color: #fff
}

#cssmenu ul ul li.has-sub > a:after,
#cssmenu ul ul li.has-sub > div > a:after {
    position: absolute;
    top: 16px;
    right: 36px;
    background-image: url("../images/icons/menu.png");
    background-repeat: no-repeat;
    width: 7px;
    height: 12px;
    display: block;
    content: '';
    transform: rotateZ(90deg);
    -webkit-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all .25s ease;
}

#cssmenu ul ul > li.has-sub:hover > a:after,
#cssmenu ul ul > li.has-sub:hover > div > a:after {
    transform: rotateZ(0deg);
}

#cssmenu ul ul ul li.active a {
    border-left: 1px solid #333
}

#cssmenu > ul > li.has-sub > div > ul > li.active > a, #cssmenu > ul ul > li.has-sub > div > ul > li.active > a {
    border-top: 1px solid #333
}

html.md-less #mobilemenu, html.md-less #mobilemenu.collapse {
    height: 0;
    overflow: hidden;
}

html.md-less #mobilemenu.collapse.show {
    height: auto;
    overflow: visible;

}

.button-mobile {
    display: none;
}

@media screen and (max-width: 767px) {

    #cssmenu a[aria-expanded='false']:after {
        transform: rotateZ(90deg) !important;
    }

    #cssmenu a[aria-expanded='true']:after {
        transform: rotateZ(-90deg) !important;
    }

    #mobilemenu > li {
        background-color: #314070;
        /*margin-left: -10px;*/
        max-width: 290px;
    }
    #mobilemenu > li > a {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
    #mobilemenu .has-sub .active > a {
        color: #bec7e6;
    }
    #cssmenu > ul > li.active > a {
        background: #314070 !important;
    }

    #cssmenu > ul > li.active:not(.has-sub-level-1) > a {
        color: #bec7e6 !important;
    }

    #mobilemenu > li > ul {
        left: 30px !important;
        /*top: 40px !important;*/
        width: 290px !important;
        position: absolute !important;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    }
    #mobilemenu > li.active > ul {
        display: block !important;
    }
    #mobilemenu > li > ul > li.active > ul {
        display: block !important;
    }
    #mobilemenu > li > ul > li.active li.active > a {
        color: #bec7e6 !important;
    }
    #mobilemenu > li.has-sub-level-1 > a::after {
        position: absolute;
        top: 16px;
        right: 36px;
        background-image: url(../images/icons/menu.png);
        background-repeat: no-repeat;
        width: 7px;
        height: 12px;
        display: block;
        content: '';
        transform: rotateZ(90deg);
        -webkit-transition: all .25s ease;
        -ms-transition: all .25s ease;
        transition: all .25s ease;
    }
    #cssmenu ul ul li a {
        white-space: normal;
        line-height: 1.5;
    }

    #cssmenu ul ul {
        padding-top: 0;
        position: relative;
    }
    .navigation .container {
        max-width: 100%;
        padding: 0;
    }
    .top-site {
        text-align: center;
        display: block !important;
    }

    .button-mobile {
        display: block;
    }

    .top-actions {
        /*margin-top: 15px;*/
    }

    #cssmenu li > ul > li:first-child {
        border-radius: 0px;
    }

    #cssmenu li > ul > li:last-child {
        border-radius: 0px;
    }

    #cssmenu ul ul ul {
        padding-left: 0px;
    }

    #cssmenu .first-level {
        text-align: left;
    }

    nav {
        width: 100%;
    }

    #cssmenu {
        width: 100%
    }

    #cssmenu ul {
        width: 100%;
        /*display: none*/
    }

    #cssmenu ul li {
        width: 100%;
        /*border-top: 1px solid #656565*/
    }

    #cssmenu ul ul li, #cssmenu li:hover > ul > li {
        height: auto
    }

    #cssmenu ul li a, #cssmenu ul ul li a {
        width: 100%;
        border-bottom: 0
    }

    #cssmenu > ul > li {
        float: none
    }

    #cssmenu ul ul li a {
        padding-left: 25px
    }

    #cssmenu ul ul ul li a {
        padding-left: 35px
    }

    #cssmenu ul ul, #cssmenu ul ul ul {
        /*position: relative;*/
        left: 0;
        width: 100%;
        margin: 0;
        text-align: left
    }

    #cssmenu > ul > li.has-sub > a:after,
    #cssmenu > ul > li.has-sub > a:before,
    #cssmenu ul ul > li.has-sub > a:after,
    #cssmenu ul ul > li.has-sub > a:before {
        display: none
    }

    #cssmenu #head-mobile {
        display: block;
        padding: 23px;
        color: #ddd;
        font-size: 12px;
        font-weight: 700
    }

    .button.menu-opened:before {
        top: 23px;
        background: #fff;
        width: 19px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg)
    }

    #cssmenu .submenu-button {
        position: absolute;
        z-index: 99;
        right: 0;
        top: 0;
        display: block;
        border-left: 1px solid #444;
        height: 46px;
        width: 46px;
        cursor: pointer
    }

    #cssmenu .submenu-button.submenu-opened {
        background: #262626
    }

    #cssmenu ul ul .submenu-button {
        height: 34px;
        width: 34px
    }

    #cssmenu .submenu-button:after {
        position: absolute;
        top: 22px;
        right: 19px;
        width: 8px;
        height: 2px;
        display: block;
        background: #ddd;
        content: ''
    }

    #cssmenu ul ul ul li.active a {
        border-left: none
    }

    #cssmenu > ul > li.has-sub > ul > li.active > a, #cssmenu > ul ul > li.has-sub > ul > li.active > a {
        border-top: none
    }
    .h1.section-title {
        font-size: 24px;
        padding-top: 10px;
        margin-bottom: 28px !important;
    }
}

@media (min-width: 768px) {
    #cssmenu > ul > li:hover{
        /*background: #2c3963;*/
    }
    #cssmenu > ul > li > a:focus,
    #cssmenu > ul > li.active > a{
        background: #2c3963;
        color: #ffffff !important;
    }
    #cssmenu ul ul li.has-sub:hover,
    #cssmenu ul li.has-sub ul li.has-sub ul li:hover {
        background: #2c3963 !important;
    }
    #cssmenu ul ul li.has-sub {
        position: relative;
    }
    #cssmenu ul ul li:hover {
        background: #2c3963 !important;
    }
    #cssmenu ul ul li:first-child {
        padding-top: 6px;
        border-radius: 10px 10px 0 0;
    }
    #cssmenu ul ul li:last-child {
        border-radius: 0 0 10px 10px;
        padding-bottom: 6px;
    }
    #cssmenu > ul > li > ul:before {
        display: block;
        content: '';
        /*height: 20px;*/
        height: 0;
        background-color: #37477d;
        border-radius: 10px 10px 0 0;
    }

    #cssmenu > ul > li > ul:after {
        display: block;
        content: '';
        /*height: 20px;*/
        height: 0;
        background-color: #37477d;
        border-radius: 0 0 10px 10px;
    }

    #cssmenu > ul > li > ul > li > ul:before {
        display: block;
        content: '';
        /*height: 20px;*/
        height: 0;
        background-color: #2c3963;
        border-radius: 10px 10px 0 0;
    }

    #cssmenu > ul > li > ul > li > ul:after {
        display: block;
        content: '';
        /*height: 17px;*/
        background-color: #2c3963;
        border-radius: 0 0 10px 10px;
    }
}

@media screen and (max-width: 991px) {
    #cssmenu > ul > li > a {
        padding: 13px 9px;
    }

    #cssmenu > ul > li > a, #cssmenu ul ul li a {
        font-size: 14px;
    }
}